/////////////////////////////////
//////     BODY STYLES     //////
/////////////////////////////////

html {
	font-size: 100%;
	// height: 100%;
}

body {
	color: $maintext;
	// font-size:100%;
	// height: 100%;
	// line-height: 1.2em;
	overflow-x: hidden;
	// position: relative;

	// if you enable position: relative; for body, also add the code below
}

// @media screen and (max-width:600px) { #wpadminbar { top: -46px; } }

::selection {
	background: $blue;
	color: white;
}

::-moz-selection {
	background: $blue;
	color: white;
}

// set the viewport for IE10
@-ms-viewport{
	width:device-width;
	zoom: 1;
}


////////////////////////////////
//////     BLOCKQUOTE     //////
////////////////////////////////

blockquote {
	border:none;
	padding:0;
	p {
		// main block quote styling goes here
		font-style: italic;
		&:last-of-type:not(:first-of-type) {
			// the block quote source goes here
			font-style: normal;
			font-weight: bold;
		}
	}
}


//////////////////////////
//////     CODE     //////
//////////////////////////

pre {
	background: #eee;
	border: 1px solid #ccc;
	margin: 0 0 15px;
	padding: 20px;
}


///////////////////////////////////
//////        HEADERS       ///////
///////////////////////////////////

h1, h2, h3, h4, h5, h6 {
	font-variant-ligatures: common-ligatures;
	line-height: 1.2em;
	margin: 0;
	padding-bottom: 25px;
	text-transform: none;

	a {
		text-decoration:none;
	}

	.entry-content & {
		padding-top: 15px;
	}
}

h1 {
	@include aktiv(300);
	@include font-size(32);
}

h2 {
	@include lora();
	@include font-size(28);
}

h3 {
	@include aktiv(300);
	@include font-size(22);
}

h4 {
	@include lora(400,italic);
	@include font-size(22);
	color:$blue;
}

h5 {
	@include aktiv(500);
	@include font-size(16);
}

h6 {
	@include aktiv();
	@include font-size(16);
}


////////////////////////
//////     HR     //////
////////////////////////

hr {
	border: 1px solid $blue;
	margin: 10px 0 25px;
}

////////////////////////////
//////     IMAGES     //////
////////////////////////////

img {
	max-width: 100%; 
	height: auto; 
	margin-top: 0;
}

img,
.wp-caption {
	&.alignright {
		float: right;
		margin-bottom: 15px;
		margin-left: 15px;
	}
	&.alignleft {
		float: left;
		margin-right: 15px;
		margin-bottom: 15px;
	}
	&.aligncenter {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

.wp-caption {
	display: inline-block;
	margin-bottom: 15px;
	max-width: 100%;
	position: relative;
	width: auto !important;
	img {
		display: block;
	}
}

.wp-caption-text {
	background: rgba($blue, 0.9);
	color: white;
	padding: 5px 20px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}


///////////////////////////
//////     LINKS     //////
///////////////////////////

a, a:hover {
	@include ease();
}

// Standard Links //
a {
	color: $blue ;
	text-decoration: underline;
	&:hover, &:focus, &:active {
		// color: ;
		text-decoration: none;
	}
}

// Button Links //
.button {
	@include button;
}

.button-white {
	@include button(white);
}

// Read More Link //
.read-more {
	@include aktiv(500);
	@include font-size(16);
	color: $blue ;
	text-decoration: none;
	text-transform: none;
	position: relative;
	&:after{
		content:'';
		background:url(../../images/read-more.png)no-repeat;
		width: 10px;
		height: 17px;
		position: absolute;
		right: -20px;
		top:3px;
	}
	&:hover{
		//	color: ;
	}
}
.read-more-white{
	@include aktiv(500);
	@include font-size(16);
	color:white;
	text-decoration: none;
	text-transform: none;
	position: relative;
	&:after{
		content:'';
		background:url(../../images/read-more-white.png)no-repeat;
		width: 10px;
		height: 17px;
		position: absolute;
		right: -20px;
		top:3px;
	}
	&:hover{
		//	color: ;
	}

}


///////////////////////////
//////     LISTS     //////
///////////////////////////

// Main List Style //
ul {
	list-style: disc;
	margin: 0 0 0 15px;	
	padding: 0 0 15px;
	li {

	}
	a {
		text-decoration: none;
		&:hover {
			
		}
	}
}

.entry-content {
	ul:not(.gform_fields) {
		list-style: none;
		margin: 0;
		padding-bottom: 30px;
		li {
			@include lora();
			@include font-size(16);
			line-height: 32px;
			padding-left: 23px;
			position: relative;
			+ li {
				margin-top: 10px;
			}
			&:before {
				background: url(../../images/bullet.png) no-repeat center center;
				content: '';
				height: 14px;
				position: absolute;
				top: 9px;
				left: 0;
				width: 14px;
			}
		}
	}

	ul.gfield_radio,
	ul.gfield_checkbox {
		padding: 0;
		li {
			+ li {
				margin-top: 0;
			}
			&:before {
				display: none;
			}
		}
	}
}

ol {
	margin: 0 0 0 2px;
	padding: 0 0 15px;
}

.entry-content {
	ol {
		counter-reset: ordered-list;
		list-style: none;
		li {
			@include lora();
			@include font-size(16);
			counter-increment: ordered-list;
			padding-left: 20px;
			line-height: 32px;
			position: relative;
			@include lora();
			@include font-size(16);
			&:before {
				@include lora();
				@include font-size(16);
				color: $blue;
				content: counter(ordered-list);
				font-weight: 400;
				position: absolute;
				left: 0;
			}
			+ li {
				margin-top: 10px;
			}
		}
	}
}

.pagination {
	list-style: none;
	margin: 15px 0;
	li {
		display: inline-block;
		margin-right: 10px;
		&:empty {
			display: none;
		}
	}
}


///////////////////////////////////
//////      PARAGRAPHS      ///////
///////////////////////////////////

p {
	@include lora();
	@include font-size(16);
	margin: 0;
	line-height: 1.75em;
	padding-bottom: 15px;
	&:empty {
		display: none;
	}
}


////////////////////////////////
//////      SELECTS      ///////
////////////////////////////////

.css-select-wrapper {
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	width: 200px;
	&:after {
		@include translate(0,-50%);
		background: url(../../images/custom-select-arrow.png) no-repeat;
		content: '';
		height: 15px;
		width: 15px;
		position: absolute;
		top: 50%;
		right: 10px;
	}
}

.css-select {
	background: $blue;
	border: none;
	color: white;
	padding-left: 10px;
	position: relative;
	width: 230px;
	option {
		@include font-size(18);
		color: white;
		padding: 13px 16px;
		+ option {
			border-top: 1px solid white;
		}
	}

	// .lt-ie9 & {
	// 	padding: 15px 0;
	// }
}
