////////////////////////////
//////     FOOTER     //////
////////////////////////////
.footer-preview{
	.special-row{
		max-width: 100%;
	}
	.footer-header-link-wrap{
		max-width: 425px;
		margin: auto;
		padding: 225px 0px 125px;
		height: 500px;
	}
	.preview-content{
		max-width: 520px;
		margin: auto;
		padding: 225px 0px 125px;
		height: 500px;
		p{
			@include lora(400,italic);
			@include font-size(22);
			color:$maintext;
			padding-bottom: 45px;
		}
		.button{
			@include button();
		}
	}
	.preview-header{
		h3{
			@include aktiv(300);
			@include font-size(32);
			text-transform: none;
			color:white;
			border-bottom:1px solid white;
			line-height: 1.25em;
			position: relative;
			&:after{
				content:'';
				background: url(../../images/wave.png)no-repeat;
				height: 24px;
				width:81px;
				position: absolute;
				top: -50px;
				left: 0;
			}
		}
	}
	.preview-links{
		padding-top:25px;
		.read-more-white{
			margin-right: 45px;
		}
	}
}

.site-footer {
	background: white!important;
	padding-top: 70px;
	border-top:4px solid $blue;

}
.footer-logo{
	padding-bottom:25px;
	display: block;
}
.footer-tagline{
	h4{
		@include aktiv(500);
		@include font-size(17);
	}
}
.footer-location{
	p{
		@include aktiv(300);
		@include font-size(17);
		a{
			color:$blue;
			&:hover{
				color:$teal;
			}
		}
	}
}
.follow-us{
	@include aktiv(500);
	@include font-size(17);
}
.footer-social-menu{
	margin: 0;
	li{
		display: inline-block;
		@include font-size(24);
		+ li{
			margin-left: 10px;
		}
		a{
			color:$blue;
			&:hover{
				color:$teal;
			}
		}
	}
}
#footer-nav,#footer-nav2 {
	margin: 0;
	text-align: left;
	list-style: none;
	li {
		padding-bottom:30px;
		@include lora(400,italic);
		@include font-size(19);
	}
	a {
		color:$blue;
		text-decoration: none;
		&:hover{
			color:$teal  ;
		}
	}
}
.footer-end{
	background: $black!important;
	padding:10px 0px;
	p,.menu-footer-menu-3-container{
		display: inline-block;
		color:white;
		@include aktiv(300);
		@include font-size(14);
		padding-bottom: 0;
	}
	#footer-nav3{
		list-style: none;
		margin-left: 0px;
		padding-bottom: 0;
	}
	li{
		display: inline-block;
		margin-left: 5px;
		
		a{
			color:white;
			&:hover{
				color:$teal;
			}
		}
	}
	.columns-6{
		&:last-child{
			p{
				float: right;
				a{
					text-decoration: none;
					color:white;
					&:hover{
						color:$teal;
					}
				}
			}
		}
	}
}