//////////////////////////////////
//////     BANNER & NAV     //////
//////////////////////////////////

// ----- top banner
.top-banner{
	padding-top: 20px;
	text-align: right;
	.social-menu {
		display: inline-block;
		list-style: none;
		li {
			display: inline-block;
		}
	}
}

// ----- utility menu
#utility-nav {
	li {
		display: inline-block;
		+ li {
			margin-left: 20px;
		}
	}
	a {
		color: white;
	}
}

.site-header {
	border-top:4px solid $blue;
	background: white!important;
	position: relative;
}

.site-branding {
	padding:22px 0px;
	img {
		display: block;
	}
}

// ----- main menu
#site-navigation {
	text-align: right;
}

#main-nav {
	font-size: 0;
	padding: 0;
	text-align: right;
	> li {
		display: inline-block;
		padding:35px 0px;
		+ li {
			margin-left: 10px;
		}
	}

	a {
		@include aktiv(500);
		@include font-size(16);
		color: black;
		display: inline-block;
		padding: 10px;
		&:hover{
			color: $blue;
		}
	}
	.sub-menu {
		display: none;
	}
	.current-menu-item,.current_page_parent{
		position: relative;
		&:after{
			content:'';
			background: url(../../images/active.png)no-repeat;
			height: 8px;
			width: 25px;
			position: absolute;
			bottom:-8px;
			left: 0;
			right: 0;
			margin: 
			auto;
		}
	}
}


// Mobile Menu
$mobile-color: $blue;

.burger-trigger {
	background: none;
	display: none;
	height: 65px;
	padding-top: 4px;
	position: absolute;
	top: 8px;
	right: $gutter;
	text-align: center;
	text-decoration: none;
	width: 65px;
	&:after{
		content:'Menu';
		@include aktiv(500);
		@include font-size(20);
		color:$maintext;
		display: block;
		padding-top: 5px;
	}
	&:focus {
		outline: none;
	}
	span {
		@include opacity(1);
		@include rotation(0deg);
		@include rounded(0px);
		@include transition(0.1s);
		background: $black;
		display: block;
		height: 7px;
		margin: 15px auto 0;
		position: relative;
		top: 0;
		width: 100%;
		transform-origin:50% 50%;
		transform-origin:50% 50%;
		-webkit-transform-origin:50% 50%;
	}
	&.open {
		span:nth-child(1){
			top: 20px;
			width: 90%;
			@include rounded(4px);
			@include rotation(-45deg);
		}
		span:nth-child(2) {
			width:0;
		}
		span:nth-child(3){
			@include rotation(45deg);
			width: 90%;
			top: -24px;
			@include rounded(4px);
		}
	}
}



[class^="bar-"] {
	@include ease(0.3s);
	background: $mobile-color;
	border-radius: 5px;
	display: block;
	height: 3px;
	opacity: 1;
	position: absolute;
	top: 23px;
	left: 2px;
	width: 46px;
}

.bar-1 {
	transform: rotate(-45deg) translateX(59px);
	-webkit-transform: rotate(-45deg) translateX(59px);
	.open & {
		transform: rotate(-45deg) translateX(0px);
		-webkit-transform: rotate(-45deg) translateX(0px);
	}
}

.bar-2 {
	transform: rotate(45deg) translateX(-59px);
	-webkit-transform: rotate(45deg) translateX(-59px);
	.open & {
		transform: rotate(45deg) translateX(0px);
		-webkit-transform: rotate(45deg) translateX(0px);
	}
}




.menu-slide {
	@include ease(0.2s);
	@include font-size(32);
	@include rounded(50%);
	background: url(../../images/menu-slide.png) no-repeat center 58% shade($mobile-color, 10%);
	color: white;
	cursor: pointer;
	height: 35px;
	line-height: 1;
	position: absolute;
	top: 12px;
	right: 2%;
	@include rotation(180deg);
	width: 35px;
	&.open {
		@include rotation(360deg);
	}
}

// slide down mobile menu
// .mobile-nav-container {
// 	display: none;
// }
// end slide down mobile menu

// transition from right mobile menu 
.mobile-nav-container {
	position: relative;
}
// end transition from right mobile menu 

// slide down mobile menu
#mobile-nav {
	@include transition;
	background: $mobile-color;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 5;
	li {
		@include transition;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		+ li {
			border-top: 2px solid shade($mobile-color,10%);
		}
	}
	a {
		@include font-size(20);
		color: white;
		display: block;
		font-weight: bold;
		padding: 20px 0 17px;
		&:hover {
			background: shade($mobile-color, 10%);
		}
	}
	.sub-menu {
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			background: shade($mobile-color, 20%);
		}
		.sub-menu {
			li {
				background: shade($mobile-color, 30%);
			}
		}
	}	
}
// end slide down mobile menu

// transition from right mobile menu 
#mobile-nav {
	background: none;
	position: absolute;
	right: $gutter;
	left: $gutter;
	visibility: hidden;
	width: auto;
	top:35px;
	li {
		@include ease(0.3s);
		@include translate(100%,0);
		background: $blue;
		opacity: 0;

		// this generates the delay, adding more delay for each one
		// currently it's set to 10, but on larger menu it might be safer to have a higher value
		@for $i from 1 through 10 {
			&:nth-of-type(#{$i}) {
				$delay: $i * 0.033;
				-webkit-transition-delay: #{$delay}s;
				-moz-transition-delay: #{$delay}s;
				-o-transition-delay: #{$delay}s;
				transition-delay: #{$delay}s;
			}
		}
	}
	.open & {
		visibility: visible;
		li {
			@include translate(0,0);
			opacity: 1;
		}
	}
}
// end transition from right mobile menu 
