body{
	background: url(../../images/Coast-Background.jpg);
}
.body-wrap{
	background: white;
	max-width: 1400px;
	margin: auto;
}
///////////////////////////////
//////     HOME PAGE     //////
///////////////////////////////

.homepage-banner{
	min-height: 550px;
	max-width: 1500px;
	margin: auto;
	position: relative;
	overflow: hidden;
	.hero-content{
		position: absolute;
		bottom: 0;
		max-width: 520px;
		width: 100%;
		left: 100px;
		z-index: 9;
		background: rgba($black, 0.56);
		padding:30px 40px;
		h3{
			@include aktiv();
			@include font-size(42);
			text-transform: none;
			color:white;
			padding-bottom: 10px;
		}
		h5{
			@include lora(400,italic);
			@include font-size(34);
			color:white;
			text-transform: none;
			display: inline-block;
			padding-bottom: 0;
			padding-right: 4px;
		}
		h4{
			@include aktiv();
			@include font-size(42);
			text-transform: none;
			color:$lightteal;
			display: inline-block;
			padding-bottom: 0;
		}
	}
}
#bg-video{
	position: absolute;
	top:0;
	left: 0;
	max-width: 1500px;
	right: 0;
	width:100%;
	margin: auto;
}
.homepage-first-callout{
	background: $teal;
	padding:75px 0px;
	text-align: center;
	.callout-content{
		@include lora(400,italic);
		@include font-size(22);
		color:white;
		p{
			line-height: 1.75em;
			padding-bottom:30px;
		}
	}
}
.homepage-second-callout{
	background: white;
	padding:80px 0px;
	text-align: center;
	.callout-title{
		@include aktiv(300);
		@include font-size(32);
		padding-bottom:25px;
		margin-bottom:25px;
		position: relative;
		color:$maintext;
		&:after{
			content:'';
			background: url(../../images/title-bottom.png)no-repeat;
			height: 16px;
			width: 415px;
			position: absolute;
			bottom:0;
			left: 0;
			right: 0;
			margin: auto;
		}

	}
	.callout-content{
		@include lora(400);
		@include font-size(17);
		color:$maintext;
		p{
			line-height: 1.75em;
			padding-bottom:30px;
		}
	}
}
.homepage-customer-story{
	img{
		border:4px solid rgba($lightgray,0.4);
	}
	.story-content{
		background: rgba($peach,0.2);
		padding: 45px 40px;
		margin-top:40px;
		h6{
			@include aktiv(500);
			@include font-size(16);
			text-transform: none;
		}
		h4{
			@include lora(400,italic);
			text-transform: none;
			padding-bottom:15px;
			a{
				color:$maintext;
				&:hover{
					color:$blue;
				}
			}
		}
		p{
			@include lora(400);
			@include font-size(17);
		}
		h4,p{
			max-width: 410px;
		}
	}
	.columns-6{
		&:first-child{
			padding-right: 0;
		}
		&:last-child{
			padding-left: 0;
		}
	}
}
.homepage-block-grid{
	padding-bottom: 45px;
	.grid-intro{
		text-align: center;
		padding:125px 0px 275px;
		p{
			@include lora(400,italic);
			@include font-size(22);
			color:$blue;
		}

	}
	.grid-wrapper{
		background: $blue;
		padding-bottom: 45px;
		text-align: center;
	}
	.block-grid-3{
		margin:0;
		margin-top:-185px;
		padding-bottom: 45px;
	}
	.image-wrap{
		@include rounded(50%);
		overflow: hidden;
	
		position: relative;
		z-index: 59;
		.shadow {
			@include rounded(50%);
		    position: absolute;
		    width: 100%;
		    height: 100%;
		   	-webkit-box-shadow: inset 0px 0px 0px 4px rgba($gray,0.5);
			-moz-box-shadow: inset 0px 0px 0px 4px rgba($gray,0.5);
			box-shadow: inset 0px 0px 0px 4px rgba($gray,0.5);
		    top: 0;
		    left: 0;
		    z-index: 9;
		}
		img{
			vertical-align: bottom;
			position: relative;
			z-index: 1;
		}

	}
	.grid-content{
		p{
			padding-top:40px;
			text-align: center;
			color:white;
		}
	}
	.button{
		@include button(white);
	}
}
.homepage-news{
	padding:75px 0px 60px;
	.homepage-news-title{
		h1{
			@include aktiv(300);
			@include font-size(32);
			padding-bottom:25px;
			margin-bottom:45px;
			position: relative;
			text-align: center;
			color:$maintext;
			&:after{
				content:'';
				background: url(../../images/title-bottom.png)no-repeat;
				height: 16px;
				width: 415px;
				position: absolute;
				bottom:0;
				left: 0;
				right: 0;
				margin: auto;
			}
		}
		
	}
	.post-meta{
		@include aktiv(500);
		@include font-size(17);
		color:$blue;
		padding-top: 10px;
		a{
			text-decoration: none;
			@include aktiv(500);
			@include font-size(17);
			color:$maintext;
		}
	}
	.read-more{
		color:$maintext;
		&:after{
			background: url(../../images/read-more-teal.png)no-repeat;
		}
		&:hover{
			color:$teal;
		}
	}
	h4{
		@include lora(400,italic);
		@include font-size(28);
		text-transform: none;
		a{
			color:$maintext;
			&:hover{
				color:$blue;
			}
		}
	}
	.blog-link{
		text-align: center;
		padding: 50px 0px;
		.button{
			@include button($black);
		}
	}
}
///////////////////////////
//////     PAGES     //////
///////////////////////////
.page-intro{
	border-top:50px solid $lightteal;
	padding:55px 0px 85px;
	h1{
		position: relative;
		padding-bottom:30px;
		margin-bottom:40px;
		&:after{
			content:'';
			height:2px;
			width: 175px;
			background: $gold;
			position: absolute;
			bottom:0;
			left: 0;
		}
	}
}
.page-template-_approach{
	.special-row{
		max-width: 1400px;
		.entry-content{
			max-width: 575px;
		}
	}
	.approach-wrap{
		min-height: 460px;
		.columns-5{
			min-height: 460px;
		}
		.blue-content{
			padding-left: 70px;
			padding-top:80px;
		}
		.white-content{
			padding-top:80px;
			padding-left: 150px;
		}
		.read-more{
			color:$black;
		}
	}
	.approach-wrap.blue{
		background: rgba($lightteal,0.2);	
	}
}

.page-template-_stories{
	.story-wrap{
		a{
			position: relative;
			display: block;
			&:hover{
				&:after{
					content:'';
					background: rgba(0,0,0,0.4);
					position: absolute;
					top:0;
					left: 0;
					right: 0;
					bottom: 0;

				}
				.button{
					border:none;
					display: block;
					background: $teal;	
					-webkit-box-shadow: 0px 0px 0px 4px rgba(white,0.6);
					-moz-box-shadow: 0px 0px 0px 4px rgba(white,0.6);
					box-shadow: 0px 0px 0px 4px rgba(white,0.6);
					outline:none;
					&:hover{
						background: darken($teal,10%);
						color:white;
					}
				}
			}
		}
		img{
			width: 100%;
			vertical-align: bottom;
		}
		.button{
			display: none;
			@include translate(-50%, -50%);
			top:50%;
			left:50%;

			position: absolute;
			z-index: 7;
			padding:15px 50px;

		}

	}
	.story{
		border-bottom:1px solid rgba(#70747d,0.2);
		padding-top:40px;
		padding-bottom:30px;
		h2{
			padding-top:25px;
			padding-bottom: 10px;
			a{
				color:$black;
				&:hover{
					color:$teal;
				}
			}
		}
		.read-more{
			color:$black;
		}
	}

}
.single-customer_stories{
	.story-intro{
		position: relative;
		padding-bottom:30px;
		margin-bottom:40px;
		padding-top:20px;
		&:after{
			content:'';
			height:2px;
			width: 175px;
			background: $gold;
			position: absolute;
			bottom:0;
			left: 0;
		}
	}
	.story-first-callout{
		padding-bottom:35px;
	}
	.story-second-callout{
		padding:60px 0px;
		background: rgba($teal, 0.2);
		.gallery-title{
			position: relative;
			padding-bottom:35px;
			margin-bottom:40px;
			text-align: center;
			&:after{
				content:'';
				position: absolute;
				bottom:0;
				left: 0;
				right: 0;
				margin: auto;
				width: 100%;
				background-position: center;
				max-width: 415px;
				height: 15px;
				background: url(../../images/gallery-underline.png)no-repeat;
			}
		}
		.b-a{
			padding-bottom:40px;
			margin-bottom:40px;
			position: relative;
			&:last-child{
				&:after{
					height: 0;
					width: 0;
				}
			}
			&:after{
				content:'';
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				bottom:0;
				background: #70747d;
				width: 675px;
				height: 1px;
			}
		}
	}
}
.page-template-_financing{
	.financing-title{
		position: relative;
		padding-bottom:25px;
		margin-bottom:40px;
		text-align: center;
		&:after{
			content:'';
			position: absolute;
			bottom:0;
			left: 0;
			right: 0;
			margin: auto;
			width: 100%;
			background-position: center;
			max-width: 415px;
			height: 15px;
			background: url(../../images/gallery-underline.png)no-repeat;
		}
	}
	.option{
		padding:45px 0px;
		background: rgba($gold,0.2);
		&:nth-child(odd){
			background: rgba($gold,0.1);
		}
		h2{
			a{
				color:$black;
				&:hover{
					color:$teal;
				}
			}
		}
		.read-more{
			color:$black;
		}
	}
}
.page-template-_products_landing{
	.option-wrap{
		background: rgba($teal,0.2);
		padding:50px 0px;
	}
	.products-title{
		position: relative;
		padding-bottom:25px;
		margin-bottom:40px;
		text-align: center;
		&:after{
			content:'';
			position: absolute;
			bottom:0;
			left: 0;
			right: 0;
			margin: auto;
			width: 100%;
			background-position: center;
			max-width: 415px;
			height: 15px;
			background: url(../../images/gallery-underline.png)no-repeat;
		}
	}
	.product{
		.product-icon{
			text-align: center;
			padding-bottom:35px;
		}
		h2{
			a{
				color:$black;
			}
		}
	}
}

.page-template-_product{
	.product-first-section{
		border-top:50px solid $lightteal;
		padding-top:55px;
		h1{
			padding-bottom:30px;
			margin-bottom:30px;
			position: relative;
			&:after{
				content:'';
				height:2px;
				width: 175px;
				background: $gold;
				position: absolute;
				bottom:0;
				left: 0;
			}		
		}
	}
	
	.slides{
		height: 450px;
		margin:0;
		.img-bg{
			border:4px solid $gray;
		}
	}
	.img-bg {
		height: 0;
		padding-bottom: 580/880 * 100%;
		@include background-size;
		background-position: center;
		background-repeat: no-repeat;
	}


	.product-slider {
		margin-bottom: 2px !important;
	}

	.gallery-control {
		@include opacity(0);
		margin: 0;
		text-align: left;
		font-size: 0;
		margin-bottom:40px;
		li {
			display: inline-block;
			float: none;
			padding: 1px;
			cursor: pointer;
		}
	}
	.repeater-wrapper{
		padding:50px 0px;
		h5{
			text-align: center;
		}
		li{
			p{
				border-bottom:1px solid rgba($lightgray,0.2);
				padding:15px 5px;
				&:nth-child(1), &:nth-child(2){
					border-top:1px solid rgba($lightgray,0.2);
				}
			}
		}
	}
	.second-callout{
		background: rgba($lightteal,0.2);
		padding:50px 0px;
		.second-callout-title{
			padding-bottom:25px;
			margin-bottom:25px;
			position: relative;
			text-align: center;
			color:$maintext;
			&:after{
				content:'';
				background: url(../../images/title-bottom-blue.png)no-repeat;
				height: 16px;
				width: 100%;
				background-position: center;
				max-width: 415px;
				position: absolute;
				bottom:0;
				left: 0;
				right: 0;
				margin: auto;
			}
		}
		.subtitle{
			text-align: center;
			h4{
				line-height: 1.5em;
			}
		}
		.second-intro{
			padding-bottom:25px;
		}
		.second-col-1,.second-col-2{
			border-top:1px solid $black;
			padding-top:30px;
		}
	}
	.customer-story-callout{
		padding:75px 0px;
		img{
			border:4px solid rgba($lightgray,0.4);
		}
		.story-content{
			background: rgba($peach,0.2);
			padding: 45px 40px;
			margin-top:40px;
			h6{
				@include aktiv(500);
				@include font-size(16);
				text-transform: none;
			}
			h4{
				@include lora(400,italic);
				text-transform: none;
				padding-bottom:15px;
				a{
					color:$maintext;
					&:hover{
						color:$blue;
					}
				}
			}
			p{
				@include lora(400);
				@include font-size(17);
			}
			h4,p{
				max-width: 410px;
			}
		}
		.columns-6{
			&:first-child{
				padding-right: 0;
			}
			&:last-child{
				padding-left: 0;
			}
		}
	}

}
.page-template-_product{

}
///////////////////////////////
//////     BLOG PAGE     //////
///////////////////////////////
.blog, .archive{
	#main{
		border-top:50px solid $lightteal;
		padding-top:55px;
	}
	.blog-title{
		position: relative;
		padding-bottom:30px;
		margin-bottom:40px;
		&:after{
			content:'';
			height:2px;
			width: 175px;
			background: $gold;
			position: absolute;
			bottom:0;
			left: 0;
		}
	}
	.product-intro{
		padding-bottom:25px;
	}
	.cats{
		margin:0;
		list-style: none;
		li{
			padding:10px 0px;
			border-top:1px solid rgba($lightgray,0.2);
			a{
				@include aktiv(300);

				color:$black;
			}
			&:last-child{
				a{
					@include aktiv(500);
				}
			}

		}
		.current{
			a{
				position: relative;
				&:after{
					content:'';
					position: absolute;
					right:-20px;
					top:3px;
					background: url(../../images/gold-arrow.png)no-repeat;
					height: 17px;
					width: 10px;
				}
			}
		}
	}
	article{
		padding-bottom:30px;
		margin-bottom:30px;
		border-bottom:1px solid rgba($lightgray,0.2);
		.post-meta{
			@include aktiv(500);
			color:$teal;	
			.entry-date{
				padding-right: 10px;
			}
			a{
				color:$lightgray;
				text-decoration: none;
				&:hover{
					color:$teal;
				}
			}
		}
		h2{
			padding-top:15px;
			padding-bottom:10px;
			a{
				color:$black;
			}
		}
		.read-more{
			color:$black;
		}
	}
	.pagination-wrap{
		background:#f9f2e7;
		text-align: center;
		.pagination{
			margin:30px 0px;
			padding-bottom:0;
			li{
				a{
					color:#414042;
					&:hover{
						color:$blue;
					}
				}
			}
			.current{
				border-bottom:3px solid #414042;
			}
		}
		.pagination-prev{
			float: left;
			a{
				color:#414042;
				position: relative;
				padding-left: 25px;
				&:hover{
					color:$blue;
				}
				&:after{
					content:'';
					position: absolute;
					left: 0;
					top:-2px;
					background: url(../../images/prev.png)no-repeat;
					width: 10px;
					height: 18px;
				}
			}
		}
		.pagination-next{
			float: right;
			a{
				color:#414042;
				position: relative;
				padding-right: 25px;
				&:hover{
					color:$blue;
				}
				&:after{
					content:'';
					position: absolute;
					right: 0;
					top:-2px;
					background: url(../../images/next.png)no-repeat;
					width: 10px;
					height: 18px;
				}
			}
		}
	}

}
.single-post{
	#main{
		border-top:50px solid $lightteal;
		padding-top:55px;
	}
	.news-title{
		padding-top:30px;
		position: relative;
		padding-bottom:30px;
		margin-bottom:40px;
		&:after{
			content:'';
			height:2px;
			width: 175px;
			background: $gold;
			position: absolute;
			bottom:0;
			left: 0;
		}
	}
	.post-meta{
		.entry-date{
			display: block;
			@include aktiv(500);
			color:$blue;	
		}
		a{
			display: block;
			color:$lightgray;
			text-decoration: none;
			@include aktiv(500);
		}
	}
	.social-share-wrap{
		margin-top:40px;
		background: rgba($gold,0.2);
		padding:30px 0px;	
		text-align: center;
		.social-share{
			list-style: none;
			margin:0;
			padding: 0;
			p{
				@include aktiv(500);
				padding-right:10px;
				display: inline-block;
				padding-bottom:0;
			}
			li{
				display: inline-block;
				padding:0px 10px;
				vertical-align: top;
				a{
					@include font-size(24);
					color:$blue;
				}
			}
		}
	}
	
}
.page-template-_about{
	.team-member{
		padding-top:20px;
		padding-bottom: 35px;
		&:last-child{
			.team-content-wrap{
				border:none;
			}
		}
		.team-content-wrap{
			padding-top:50px;
			border-bottom:1px solid $lightgray;
		}
	}
	.team-wrap{
		background: rgba($lightteal,0.2);
		padding:50px 0px;
	}
	.team-pic{
		@include rounded(50%);
		overflow: hidden;
		position: relative;
		z-index: 59;
		.shadow {
			@include rounded(50%);
		    position: absolute;
		    width: 100%;
		    height: 100%;
		   	-webkit-box-shadow: inset 0px 0px 0px 4px rgba($gray,0.5);
			-moz-box-shadow: inset 0px 0px 0px 4px rgba($gray,0.5);
			box-shadow: inset 0px 0px 0px 4px rgba($gray,0.5);
		    top: 0;
		    left: 0;
		    z-index: 9;
		}
		img{
			vertical-align: bottom;
			position: relative;
			z-index: 1;
		}
	}
	.team-title{
		padding-bottom:25px;
		margin-bottom:25px;
		position: relative;
		text-align: center;
		color:$maintext;
		&:after{
			content:'';
			background: url(../../images/title-bottom-blue.png)no-repeat;
			height: 16px;
			width: 100%;
			background-position: center;
			max-width: 415px;
			position: absolute;
			bottom:0;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
}
.page-template-_contact{
	.upcoming-events{
		padding:65px 0px;
		text-align: center;
		h1{
			color:white;
			position: relative;
			margin-bottom:30px;
			&:after{
				content:'';
				background: rgba(white,0.52);
				max-width:420px;
				width: 100%;
				position: absolute;
				bottom:0;
				left: 0;
				right: 0;
				margin:auto;
				height: 1px;
			}
		}
		.read-more{
			color:white;
			&:after{
				background: url(../../images/arrow-white.png)no-repeat;
			}
		}
	}
	.map-callout{
		min-height: 565px;
		.row{
			max-width: 1400px;
			.columns-6{
				height: 565px;
				background: rgba($teal,0.9);
				position: relative;

			}
			.entry-content{
				position: absolute;
				@include translate(0,-50%);
				top:50%;
				color:white;
				max-width: 415px;
				padding-left:35px;
			}
		}
	}
	.contact-information{
		padding:100px 0px;
	}
	.location-wrap{
		padding-bottom:40px;
		h5{
			border-bottom:1px solid $black;
			margin-bottom:20px;
			padding-bottom:10px;
		}
		.location{
			p{
				line-height: 2.5em;
			}
		}
		.phone, .email{
			@include aktiv(300);
			color:$blue;
		}
		.phone-wrap{
			margin-top:5px;
			padding-bottom:11px;
		}

	}
	.referral-program{
		padding:65px 0px;
		text-align: center;
		h1{
			color:white;
			position: relative;
			margin-bottom:30px;
			&:after{
				content:'';
				background: rgba(white,0.52);
				max-width:420px;
				width: 100%;
				position: absolute;
				bottom:0;
				left: 0;
				right: 0;
				margin:auto;
				height: 1px;
			}
		}
		.read-more{
			color:white;
			&:after{
				background: url(../../images/arrow-white.png)no-repeat;
			}
		}
	}
	.form{
		padding:80px 0px;
		background: rgba($lightteal,0.2);
	}
	.gfield{
		input{
			width: 100%;
		}
	}
	.form-intro{
		padding-bottom:80px;
	}
}
.form-content{
	max-width: 480px;
}
form{
	.gfield{
		label{
			@include aktiv(500);
			text-transform: none;
		}
		input{
			@include rounded(0);
			box-shadow: none;
			height: 45px;
			border:1px solid $black;
		}
		textarea{
			@include rounded(0);
			box-shadow: none;
			border:1px solid $black;
		}
	}
	.styled-select {
		background: none;
		width: 90%;
		height: 45px;
		overflow: hidden;
		background: url(../../images/select.png) no-repeat right;
		border-radius:0;
		box-shadow:none;
		margin-top:2px;
		color:$maintext;
		background-color: white;
		border:1px solid $black;
	}
		.styled-select select {
		@include aktiv(300);
		@include font-size(16);
	   background: transparent;
	   padding: 5px;
	   font-size: 16px;
	   line-height: 1;
	   border: 0;
	   border-radius: 0;
	   height: 45px;
	   width: 105%!important;
	   -webkit-appearance: none;
	}
	.button{
		padding:15px 50px;
	}
}
.page-template-default{

}

//////////////////////////////
//////     404 PAGE     //////
//////////////////////////////

.error404 {
	#content{
		padding:50px 15px;
		.button{
			margin-top:25px;
		}
	}
	.entry-title {
		@include font-size(72);
		text-align: center;
	}
	.site-content {
		text-align: center;
		p {
			@include font-size(32);
			font-style: italic;
		}
	}
	.s404 {
		input[type=submit] {
			
		}
	}
}