///////////////////////////////
//////   PRINT DEFAULTS  //////
///////////////////////////////
@media print {

	@page {
		size: 11in 17in;
		margin-top: 1in;
		margin-bottom: 1in;
	}

	/* Set default width and BG colour for main sections */
	body, .top-banner, #masthead, #content, #container, .site-footer {
	   width: 100%;
	   margin: 0;
	   float: none;
	   background: #fff url(none);
	}

	/* Remove unneeded elements */
	#site-navigation, #secondary, #footer-nav, .post-nav, #respond {
	   display: none; 
	}

	/* Body font, colour */
	body {
	   font: 1em Georgia, "Times New Roman", Times, serif;
	   color: #000; 
	}

	/* Heading font, colour */
	h1,h2,h3,h4,h5,h6 {
	   font-family: Helvetica, Arial, sans-serif;
	   color: #000;
	}
	
	/* Heading sizes */
	h1 { font-size: 250%; }
	h2 { font-size: 175%; }
	h3 { font-size: 135%; }
	h4 { font-size: 100%; font-variant: small-caps; }
	h5 { font-size: 100%; }
	h6 { font-size: 90%; font-style: italic; }

	/* Underline links, content links have actual URL appended to be more user friendly */

	a:link, a:visited {
	   color: #00c;
	   font-weight: bold;
	   text-decoration: underline; }
	#content a:link:after, #content a:visited:after {
	   content: " (" attr(href) ") ";
	}
}