///////////////////////////////
//////     MEDIA Q'S     //////
///////////////////////////////
@media screen and (max-width:1175px){
	#main-nav{
		a{
			@include font-size(14);
		}
	}
}
@media screen and (max-width:1055px){
	#main-nav{
		a{
			@include font-size(12);
		}
	}
}
@media screen and (max-width:1000px){
	.page-template-_financing{
		.option{
			.columns-2{
				@include resized-columns(4);
				text-align: right;
			}
			.columns-7{
				@include resized-columns(8);
			}
		}
	}
}


@media screen and (max-width:1024px){
	.columns-6.column-center {
		width: $width / ($columns / 8);
	}

}
@media screen and (max-width:975px){
	// header
	.top-banner {
		display: none;
	}
	.menu-main-menu-container {
		display: none;
	}
	.fs-mobile-trigger, .full-width-trigger {
		display: block;
	}
	.site-branding{
		@include resized-columns(12);
		img{
			max-width: 225px;
		}
	}
	.homepage-block-grid{
		.grid-intro{
			padding:50px 0px;
		}
		.grid-wrapper{
			padding:25px 0px;
		}
		.block-grid-3{
			margin:0;
		}
	}
	.homepage-news{
		.columns-4{
			@include resized-columns(5);
		}
		.columns-5{
			@include resized-columns(7);
		}
	}
	.site-footer{
		text-align: center;
		.columns-3{
			@include resized-columns(12);
			
		}
		.columns-2{
			@include resized-columns(12);
			text-align: center;
		}
		#footer-nav, #footer-nav2{
			text-align: center;
		}
		.footer-location{
			padding-bottom:35px;
		}
		#footer-nav{
			padding-bottom: 0;
		}
	}
	.footer-end{
		text-align: center;
		[class*="columns-"]{
			@include resized-columns(12);
		}
		.menu-footer-menu-3-container{
			display: block;
		}
		#footer-nav3{
			li{
				display: block;
				padding-bottom:10px;
			}
		}
		.columns-6{
			&:last-child{
				p{
					float: none;
				}
			}
		}
	}
}

@media screen and (max-width:900px){
	.footer-preview{
		[class*="columns-"]{
			@include resized-columns(12);
		}
		.footer-header-link-wrap{
			height: auto;
			padding:100px 0px 50px;
		}
		.preview-content{
			height: auto;
			padding:100px 0px;
		}
	}
}
@media screen and (max-width:768px){
	.columns-6.column-center,
	.columns-8.column-center {
		width: $width / ($columns / 10);
	}
	#bg-video{
		display: none;
	}
	.homepage-banner{
		min-height: 350px;
		background-position: center;
		.hero-content{
			max-width: 100%;
			left: 0;
			right: 0;
			z-index: 1;
		}
	}
	.homepage-customer-story{
		max-width: 550px;
		margin: auto;
		[class*="columns-"]{
			@include resized-columns(12);
			padding:0px 15px;
		}
		.columns-6{
			&:first-child{
				padding-right:15px;
			}
			&:last-child{
				padding-left: 15px;
			}
		}
		img{
			vertical-align: bottom;
		}
		.story-content{
			margin:0;
			padding: 45px 15px;
		}
	}
	.homepage-block-grid{
		.grid-intro{
			padding:50px 0px;
		}
		.grid-wrapper{
			padding:25px 0px 50px;
		}
		.block-grid-3{
			@include block-reset();
			@include block-grid(1);
			padding-bottom: 0;
			li{
				max-width: 500px;
				margin: auto;
				float: none;
				padding-bottom:25px;
			}
		}
		.grid-content{
			p{
				padding-top:20px;
			}
		}
		.image-wrap{
			max-width: 350px;
			margin: auto;
		}
	}
	.homepage-news{
		.columns-4{
			@include resized-columns(12);
		}
		.columns-5{
			@include resized-columns(12);
			padding-bottom:50px;
		}
		.news-image{
			max-width: 360px;
			margin: auto;
		}
		.news-content{
			max-width: 550px;
			margin: auto;
		}
	}
	.page-intro{
		[class*="columns-"]{
			@include resized-columns(12);
		}
	}
	.page-template-_approach{
		.approach-wrap{
			[class*="columns-"]{
				@include resized-columns(12);
			}
			.blue-content,.white-content{
				padding:50px 25px;
			}
		}
	}
	.single-customer_stories{
		.story-first-callout{
			[class*="columns-"]{
				@include resized-columns(12);
			}
		}
	}
	.page-template-_products_landing{
		.block-grid-3{
			@include block-reset();
			@include block-grid(1);
			li{
				max-width: 500px;
				margin: auto;
				float: none;
				text-align: center;
				padding-bottom: 35px;
			}
		}
	}
	.page-template-_product{
		.product-first-section{
			.columns-3,.columns-7{
				@include resized-columns(12); 
			}
		}
		.customer-story-callout{
			max-width: 550px;
			margin: auto;
			[class*="columns-"]{
				@include resized-columns(12);
				padding:0px 15px;
			}
			.columns-6{
				&:first-child{
					padding-right:15px;
				}
				&:last-child{
					padding-left: 15px;
				}
			}
			img{
				vertical-align: bottom;
			}
			.story-content{
				margin:0;
				padding: 45px 15px;
			}
		}
	}
	.blog,.archive{
		.columns-3,.columns-7{
			@include resized-columns(12);
		}
		.categories{
			margin-bottom:30px;
		}
	}
	.single-post{
		.columns-3,.columns-7{
			@include resized-columns(12);
		}
	}
	.page-template-_about{
		.columns-3,.columns-7{
			@include resized-columns(12);
		}
		.team-member{
			padding-bottom:35px;
		}
		.team-pic{
			max-width: 277px;
		}
		
	}
	.page-template-_contact{
		.contact-information{
			.columns-3,.columns-6{
				@include resized-columns(12);
			}
			.phone-wrap{
				margin-top:25px;
			}
		}
		.map-callout{
			min-height: auto;
			text-align: center;
			.columns-6{
				@include resized-columns(12);
				height: auto!important;
				left: 0;
			}
			.row{
				.entry-content{
					position: relative;
					transform:none;
					-webkit-transform:none;
					-moz-transform:none;
					top:0;
					padding:50px 0px;
					margin:auto;
				}
			}
		}
		.form{
			[class*="columns-"]{
				@include resized-columns(12);
			}
		}
	}
}

@media screen and (max-width:767px){
	.columns-6.column-center,
	.columns-8.column-center,
	.columns-10.column-center {
		width: 100%;
	}


}
@media screen and (max-width:600px){
	.page-template-_stories{
		.stories{
			@include block-reset();
			@include block-grid(1);
		}
	}
	.single-customer_stories{
		.story-second-callout{
			[class*="columns-"]{
				@include resized-columns(12);
			}
			.caption{
				max-width: 480px;
			}
		}
	}
	.page-template-_product{
		.product-first-section{
			.repeater-wrapper{
				.block-grid-2{
					@include block-reset();
					@include block-grid(1);
				}
				li{
					&:nth-child(2){
						p{
							border-top: 0;
						}
					}
				}
			}
		}
		.second-callout{
			.columns-6{
				@include resized-columns(12);
				.second-col-1, .second-col-2{
					padding-bottom:15px;
				}

			}
		}
	}
}
@media screen and (max-width:550px){
	.homepage-banner{
		.hero-content{
			h3,h4{
				@include font-size(24);
			}
			h5{
				@include font-size(22);
			}
		}
	}
	.footer-preview{
		.preview-links{
			.read-more-white,.read-more{
				display: inline-block;
				padding-bottom:15px;
			}
		}
	}
	.page-template-_financing{
		.option{
			.columns-2{
				@include resized-columns(12);
				text-align: center;
				margin-bottom:25px;

			}
			.columns-7{
				@include resized-columns(12);
			}
		}
	}
	.error404 {
		.entry-title{
			@include font-size(28);
		}
		.entry-content{
			p{
				@include font-size(20);
			}
		}
	}
	.pagination-wrap{
		
		.pagination{
			.disabled{
				@include font-size(12);
			}
			li{
				a{
					@include font-size(12);
				}
			}
		}
	}
}


@media screen and (max-width:480px){
	.wp-caption-text {
		position: static;
	}
	.homepage-block-grid{
		
	}
	.page-template-_approach{
		.approach-wrap{
			.columns-5{
				min-height: 300px;
			}
			.blue-content,.white-content{
				padding:30px 15px;
			}
		}
	}
}