////////////////////////////////////
//////         FONTS         ///////
////////////////////////////////////



@mixin lora($weight:400, $style:normal){
	font-family: "Lora" ,serif;
	font-style: $style;
	font-weight: $weight;
}


@mixin aktiv($weight:300, $style:normal){
	font-family: "aktiv-grotesk" ,serif;
	font-style: $style;
	font-weight: $weight;
}



///////////////////////////////////
//////        MIXINS        ///////
///////////////////////////////////

// Base Button Styles
%button-base {
	@include ease;
	@include aktiv(500);
	@include font-size(17);
	color:white;
	@include rounded(27px);
	border: none;
	display: inline-block;
	line-height: 1;
	overflow: visible;
	padding: 10px 15px;
	// position: relative; // uncomment as needed!
	text-decoration: none;
}

// Button Style //
@mixin button ( $color:blue) {
	// first, import the base styles
	@extend %button-base;

	// default style will be applied to the .button class
	@if $color == blue {
		border: 2px solid $blue;
		background: $blue;
		color: white;
		padding:15px;
		padding-right: 40px;
		position: relative;
		&:after{
			content:'';
			background:url(../../images/read-more-white.png)no-repeat;
			width: 10px;
			height: 17px;
			position: absolute;
			right: 10px;
			top:16px;
		}

		&:hover {
			border:2px solid $maintext;
			background: none;
			color: $maintext;
			&:after{
				background:url(../../images/read-more.png)no-repeat;
			}
		}
	}

	// extra buttons should be applied to new classes, such as .button-white
	@if $color == white {
		border: 2px solid white;
		background: none;
		color: white;
		padding:15px;
		padding-right: 40px;
		position: relative;
		&:after{
			content:'';
			background:url(../../images/read-more-white.png)no-repeat;
			width: 10px;
			height: 17px;
			position: absolute;
			right: 10px;
			top:16px;
		}
		&:hover {
			border:2px solid $blue;
			background: white;
			color: $blue;
			&:after{
				background:url(../../images/read-more.png)no-repeat;
			}
		}
	}
	@if $color == $black {
		border: 2px solid $black;
		background: $black;
		color: white;
		padding:15px;
		padding-right: 40px;
		position: relative;
		&:after{
			content:'';
			background:url(../../images/read-more-white.png)no-repeat;
			width: 10px;
			height: 17px;
			position: absolute;
			right: 10px;
			top:16px;
		}
		&:hover {
			border:2px solid $blue;
			background: white;
			color: $blue;
			&:after{
				background:url(../../images/read-more.png)no-repeat;
			}
		}
	}
}
