//////////////////////////////////////
//////         COLORS         ////////
//////////////////////////////////////

// Main Text Color
$maintext: #414042;
$gray:#eaeaec;
$lightgray:#70747d;
$blue: #0e5e91;
$black:#414042;
$teal:#14a9c6;
$gold:#e1c087;
$lightteal:#92cedf;
$peach:#e1c087;
// $green: #60b337;

// $primary:
// $secondary: